body {
    background: rgb(244, 208, 78);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 522px;
    width: 384px ;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px black;
    background-color: white;
    padding: 20px
}

.illustration {
    border-radius: 10px;
    margin-bottom: 10px;
}

.userinfo {
    display: flex;
    align-items: center;
}

footer .attribution {
    font-family: sans-serif;
}