body {
    background: rgb(244, 208, 78);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
}

main {
    height: 522px;
    width: 384px ;

    background-color: aquamarine;
}


footer .attribution {
    font-family: sans-serif;
}