body {
    background: rgb(244, 208, 78);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 522px;
    width: 384px ;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px black;
    background-color: white;
    padding: 20px
}

.illustration {
    border-radius: 10px;
    margin-bottom: 10px;
}

.category-tag {
    background: rgb(244, 208, 78);
    text-decoration: none;
    font-family: "Figtree", sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: black;
    width: 60px;
    padding: 10px 12px;
    border-radius: 5px;
}

.publish-date {
    font-family: "Figtree", sans-serif;
    font-weight: 500;
}

.userinfo {
    display: flex;
    align-items: center;
}

footer .attribution {
    font-family: sans-serif;
}